*.db
__pycache__/
*.pyc
.env
.DS_Store

# Archivos y carpetas específicas de Git
.git/
.gitignore

# Excluir archivos y carpetas innecesarios para el despliegue
reservas.db
venv_limpio/
*.pyc
__pycache__/
